[submodule "asian-autocorrect"]
	path = asian-autocorrect
	url = https://github.com/huacnlee/autocorrect
[submodule "WeTextProcessing"]
	path = WeTextProcessing
	url = https://github.com/wenet-e2e/WeTextProcessing.git
